.redFont {
  color: #ff8190;
}

.addTask {
  max-width: 1100px;
  /* font-size: 1.5rem; */
}

.addTask button {
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem 0.8rem;
  background-color: white;
  font-size: 1rem;
}

button.darkColored {
  background-color: var(--mainDarkColor);
  color: white;
}

.outerContent {
  padding-left: 4rem;
  padding-top: 4rem;
}

.innerContent {
  justify-content: space-evenly;
  flex: 1;
}

.formContent {
  justify-content: flex-start;
}

.leftColumn {
  gap: 2rem;
  width: 40%;
}

.rightColumn {
  width: 40%;
  min-width: 368px;
  padding-right: 2rem;
  flex: 1;
}

.lowerContainer {
  margin: 3rem 0;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2rem;
}

.lowerContainer button {
  height: 56px;
  padding: 1rem;
}

.inputElement {
  gap: 0.5rem;
  width: 100%;
  min-width: 260px;
  margin-top: 1rem;
}

.formInput {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  min-height: 2rem;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: white;
}

.addTask input {
  min-height: 1.5rem;
  padding: 12px 21px;
}

.inputDropdownContainer {
  position: relative;
  align-items: center;
}

.dropdownIcon {
  position: absolute;
  right: 10px;
}

.prioContainer {
  justify-content: space-between;
  gap: 0.5rem;
}

.prioContainer .button {
  min-width: 6rem;
  width: 30%;
}

.prioContainer .button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.separator {
  border-left: 1px solid #d1d1d1;
  margin: 1rem 2rem;
  min-height: 300px;
}

.prioContainer .prioSelected {
  color: white;
}

#btnUrgent.prioSelected {
  background-color: #ff3d00;
}

#btnMedium.prioSelected {
  background-color: #ffa800;
}

#btnLow.prioSelected {
  background-color: #7ae229;
}

#btnMedium.prioSelected img {
  filter: saturate(0);
}

.prioContainer .prioSelected:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
  .outerContent {
    padding: 0;
  }

  .innerContent {
    min-width: 450px;
  }

.addTask h1 {
  padding: 0 2rem;

}

  .formContent {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0 2rem;
  }

  .lowerContainer {
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .separator {
    display: none;
  }
}
