section {
  max-width: 1208px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
}

.boardTop {
  max-width: 1056px;
  height: 232px;
  margin-top: 79.5px;
  margin-left: 64px;
  margin-right: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boardForm {
  position: relative;
  display: flex;
  align-items: center;
  width: 312px;
  height: 48px;
}

.boardForm input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  gap: 10px;
  padding: 10px 40px 10px 10px;
  font-size: 20px;
  color: #d1d1d1;
}

.boardForm input:focus {
  border-color: #29abe2;
}

.boardForm div {
  position: absolute;
  right: 50px;
  background-color: #d1d1d1;
  width: 1px;
  height: 31px;
}

.boardForm a {
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
}

.boardForm img:hover {
  cursor: pointer;
}

.progressHeadline {
  max-width: 252px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.progressHeadline div {
  width: 248px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressHeadline span {
  font-size: 20px;
  font-weight: 700;
}

.progressHeadline img {
  height: 24px;
}

.progressHeadline img:hover {
  cursor: pointer;
}

.boardProgress {
  max-width: 1208px;
  display: flex;
  margin-left: 64px;
  margin-right: 64px;
  gap: 24px;
}

.singleBoardProgress {
  width: 246px;
  height: 688px;
  border-radius: 24px;
  border: unset;
}

.noProgess {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 48px;
  color: #a8a8a8;
  font-weight: 400;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  gap: 10px;
}

.possbleToMove {
  width: 252px;
  height: 244px;
  color: #a8a8a8;
  border: 1px dashed #a8a8a8;
  border-radius: 30px;
  gap: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.card {
  background-color: white;
  width: 252px;
  max-height: 263px;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  margin-bottom: 20px;
  box-shadow: -1px 1px 10px 3px rgba(0, 0, 0, 0.08);
}

.card:hover {
  cursor: pointer;
}

.cardCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: blue;
  width: 113px;
  height: 34px;
  border-radius: 8px;
  gap: 10px;
  font-weight: 400;
}

.cardHeadline {
  margin-top: 20px;
  width: 220px;
  max-height: 38px;
  font-weight: 700;
  color: #2a3647;
}

.cardDescription {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 220px;
  max-height: 38px;
  font-weight: 400;
  color: #a8a8a8;
}

.cardSubtasks {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.subtasksBar {
  width: 128px;
  height: 8px;
  background-color: #f4f4f4;
  gap: 10px;
  border-radius: 8px;
}

.subtasksBarProgress {
  background-color: #4589ff;
  height: 8px;
  border-radius: 16px;
  width: 0%;
}

.cardWorkers {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 32px;
}

.cardWorkers div {
  display: flex;
}

.d-none {
  display: none !important;
}

.backgroundPopup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-height: 931px;
  width: 525px;
  border-radius: 30px;
  padding: 48px, 40px, 48px, 40px;
  gap: 24px;
  right: -100%;
  transform: translate(50%, -50%);
  transition: all 0.125s ease;
}

#popup.show {
  right: 50%;
}

#popup.hide {
  right: -100%;
}

.popupCategory {
  margin-top: 50px;
  height: 36px;
  width: 445px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popupCategory span {
  color: white;
  height: 36px;
  width: fit-content;
  border-radius: 8px;
  font-size: 23px;
  font-weight: 400;
  padding-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.popupCategory img {
  width: 24px;
  height: 24px;
}

.popupCategory img:hover {
  cursor: pointer;
}

.popupHeadline {
  max-height: 219px;
  width: 445px;
  font-size: 61px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}

.popupDescription {
  display: flex;
  flex-wrap: wrap;
  width: 445px;

  min-height: 60px;
  font-size: 20px;
  font-weight: 400;
  overflow-y: auto;
}

.popupDate {
  width: 445px;
  height: 24px;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
}

.popupPriority {
  width: 445px;
  height: 32px;
  gap: 25px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.popupPriority span {
  margin-right: 39px;
}

.popupAssigned {
  width: 445px;
  max-height: 208px;
  gap: 8px;
}

.popupAssigned div:first-child {
  height: 24px;
}

.PopupInitialsandContacts {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 26px;
  margin-left: 20px;
}

.PopupInitialsandContacts span:first-child {
  height: 42px;
  width: 42px;
  font-size: 14px;
}

.popupPerson {
  display: flex;
  flex-direction: column;
  min-height: 60px;
  max-height: 176px;
  gap: 4px;
  overflow-y: auto;
}

.popupPerson span {
  font-size: 20px;
  font-weight: 400;
}

.popupSubtask {
  width: 445px;
  max-height: 500px;
  gap: 8px;
  overflow-y: auto;
}

.popupSubtask span {
  font-size: 20px;
  font-weight: 400;
}

.popupSingleSubtask {
  width: 445px;
  max-height: 68px;
  gap: 4px;
}
.popupSingleSubtask div {
  display: flex;
  align-items: center;
  width: 334px;
  height: 32px;
  gap: 16px;
  margin-left: 20px;
}

.popupSingleSubtask div:hover {
  background-color: rgb(224, 221, 221);
  border-radius: 10px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
}

.popupSingleSubtask img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popupSingleSubtask img:hover {
  cursor: pointer;
}

.popupDeleteAndEdit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 445px;
  height: 24px;
  font-weight: 400;
  gap: 8px;
  margin-bottom: 40px;
}

.popupDeleteAndEdit img {
  width: fit-content;
  height: 24px;
}

.popupDeleteAndEdit div {
  cursor: pointer;
}

.line {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
  cursor: default;
}

.initalsCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin-left: -7px;
  border: 1px solid white;
}

.initalsCircle:first-child {
  margin-left: 0;
}

.addTaskButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 48px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
  margin-left: 40px;
}

.addTaskButton img {
  width: 32px;
  height: 32px;
  padding-right: 5px;
}

.addTaskButton:hover {
  background-color: #29abe2;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0px;
}

.inputFieldAndButton {
  display: flex;
}

.popupAddTask {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  height: 870px;
  width: 1116px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 74px;
  padding-right: 40px;
  transform: translateY(-50%);
  transform: translate(-50%, -50%) translateX(100%);
  transition: all 0.125s ease;
}

#popupAddTask.hideAddTaskPopup {
  right: -100%;
}

#popupAddTask.showAddTaskPopup {
  transform: translate(-50%, -50%) translateX(0);
}

.addTask2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editPopupContainer {
  overflow: auto;
  padding-left: 1rem;
  height: 80vh;
  margin: 2rem 0;
  .innerContent {
    min-width: 450px;
  }

  .addTask h1 {
    padding: 0 2rem;
  }

  .formContent {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    padding: 0 2rem;
  }

  .lowerContainer {
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .separator {
    display: none;
  }
}

.rotate3 {
  rotate: 3deg;
}

.outerContent {
  padding-left: 0 !important;
}

.headlineAndButton img {
  display: none;
}

@media (max-width: 1455px) {
  .outerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inputFieldAndButton {
    margin-left: 200px;
  }

  .boardTop {
    margin-right: 0;
  }

  .progressHeadline {
    margin: 0;
    margin-bottom: 10px;
  }

  .boardProgress {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 1340px) {
  .headlineAndButton {
    width: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headlineAndButton img {
    display: inline;
  }

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .outerContent {
    padding: 0 !important;
  }

  .boardTop {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 16px;
  }

  .boardForm {
    width: 396px;
  }

  .inputFieldAndButton {
    margin-left: 0;
  }

  .addTaskButton {
    display: none;
  }

  .boardProgress {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 100%;
  }

  .progressHeadline {
    width: 396px;
    max-width: 396px;
  }

  .totalSingleBoardProgress {
    max-height: 292px;
    width: 100%;
  }

  .singleBoardProgress {
    min-height: 70px;
    height: fit-content;
    min-width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    overflow: auto;
  }

  .singleBoardProgress div:first-child {
    margin-left: 0;
  }

  .card {
    max-height: 244px;
    margin-left: 16px;
  }

  .noProgess {
    width: 396px;
  }
}



@media (max-width: 555px) {
  .popup {
    width: 95%;
  }
  .popupHeadline {
    max-height: 129px;
    font-size: 36px;
    font-weight: 700;
    width: 95%;
    margin-left: 20px;
  }

  .popupCategory {
    margin-top: 36px;
    height: 32px;
    max-width: 445px;
    width: 90%;
  }

  .popupCategory span {
    width: 113px;
    min-width: fit-content;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .popupCategory img {
    width: 18px;
  }

  .popupDescription {
    font-size: 16px;
    min-height: 20px;
    width: 95%;
    margin-left: 38px;
    margin-right: 20px;
  }

  .popupDate {
    font-size: 16px;
    width: 95%;
    margin-left: 20px;
  }

  .popupPriority {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 95%;
    margin-left: 20px;
  }

  .popupPriority span {
    margin-right: 24px;
  }

  .popupAssigned {
    width: 95%;
    margin-left: 20px;
  }

  .popupPerson span {
    font-size: 16px;
  }

  .popupSubtask {
    width: 95%;
    overflow-x: hidden;
    margin-left: 20px;
  }

  .popupSubtask span {
    font-size: 16px;
  }

  .popupSingleSubtask div:first-child {
    margin-top: 10px;
  }

  .popupDeleteAndEdit {
    margin-right: 50px;
    width: 95%;
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  .headlineAndButton {
    width: 252px;
  }

  .boardForm {
    width: 252px;
  }

  .progressHeadline {
    width: 252px;
  }
}
