/* Main Div*/
.contactsMain {
  display: flex;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 56px;
    background-color: #2a3647;
    color: white;
    border-radius: 10px;

    h1 {
      font-size: 16px;
      font-weight: 700;
      gap: 16px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.contactsMain button:hover {
  background-color: #29abe2;
}
/* Contact List  Div (Leftside)*/

.contactListSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 10px 5px white, 0px -10px 5px white;
}

.contactUnderline {
  display: flex;
  width: 352px;
  border: 1px solid rgba(209, 209, 209, 1);
  gap: 10px;
}

.contactListsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 456px;
  height: 928px;
  top: 96px;
  left: 232px;
  background-color: rgba(255, 255, 255, 1);
  overflow-y: auto;
  height: 88.5vh;
}

.contactGroup {
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
}

.contactLists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 54px;
  border-style: none;
}

.contactListsNameHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 352px;
  height: 78px;
  gap: 35px;
  padding-left: 16px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.contactListsNameHead:hover {
  background-color: #aaaaaa1a;
}

.contactListsNameBadge {
  width: 55px;
  height: 55px;
  background-color: #ff7a00;
  border: 3px solid white;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }
}

.contactListsName {
  width: 140px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    width: max-content;
    color: black;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    color: #007cee;
    margin: 0;
  }
}

/* Contact Contant Div (Rightside)*/

.contactsContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f6f7f8;
  width: 100%;
  box-shadow: -2px 1px 4px 0.5px #aaaaaa;
}

.contactsHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 569px;
  height: 73px;
  margin-top: 100px;
  margin-left: 43px;
  gap: 24px;

  h1 {
    font-size: 61px;
    font-weight: 700;
    color: #000000;
  }

  h4 {
    font-weight: 400;
    font-size: 27px;
  }
}

.seperateLine {
  height: 50px;
  width: 2px;
  color: #29abe2;
  background-color: #29abe2;
  border: 1px solid;
}

/*Contact Card*/

.contactCardMain {
  width: 461px;
  height: 364px;
  margin-top: 32px;
  margin-left: 43px;
  gap: 21px;
}

.contentCardHeader {
  display: flex;
  flex-direction: column;
  width: 461px;
  height: 120px;
}

.contentCardBody {
  display: flex;
  align-items: center;
  gap: 54px;
}

.cardHeaderLogo {
  width: 120px;
  height: 120px;
  background-color: #ff7a00;
  border: 3px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 47px;
    font-weight: 500;
    color: white;
  }
}

.cardHeaderNameDetails {
  width: 287px;
  height: 88px;
  margin: 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  h1 {
    font-size: 47px;
    font-weight: 500;
    margin: 8px;
    width: max-content;
  }
}

.cardHeaderNameEditDelete {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 159px;
  height: 24px;
  gap: 13px;

  img {
    width: 18px;
    height: 18px;
  }
}

.cardHeaderNameEdit,
.cardHeaderNameDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contactCardInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  width: 207px;
  height: 74px;

  h4 {
    font-size: 20px;
    font-weight: 400;
  }
}

.contactCardDetails {
  width: 140px;
  height: 128px;
  display: flex;
  flex-direction: column;
}

.cardDetailEmailMain {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardDetailEmailHead {
  font-size: 16px;
  font-weight: 700;
}

.cardDetailEmailName {
  font-size: 16px;
  font-weight: 400;
  color: #007cee;

  h2 {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
}

.CardDetailPhoneMain {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.CardDetailPhoneHead {
  font-size: 16px;
  font-weight: 700;
}

.CardDetailPhoneNumber {
  font-size: 16px;
  font-weight: 400;
  h2 {
    font-size: 16px;
    font-weight: 700;
    color: black;
  }
}

/*------Overlay edit contact Main------*/

.contactsMainOverlayAddContact {
  display: flex;
  justify-content: flex-start;
  width: 1212px;
  align-items: center;
  height: 592px;
  border-radius: 30px;
  border: 1px solid;
  margin-left: 24px;
  margin-top: 24px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 30%;
  left: 20%;
}

.overlayBackgroundPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
}

/*Overlay edit contact Left Side*/

.overlayAddContactLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(42, 54, 71, 1);
  width: 453px;
  height: 594px;
  padding: 66px 46px 66px 46px;
  gap: 12px;
  border-radius: 30px 0 0 30px;

  h3 {
    margin: 0;
    color: white;
    font-size: 27px;
    font-weight: 400;
    width: max-content;
  }
}

.overlayAddContactLeftSide img {
  width: 53.93px;
  height: 66.48px;
}

.overlayAddContactLeftSide p {
  display: flex;
  width: 371px;
  height: 72px;
  gap: 16px;
  font-size: 61px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.underline {
  border: 3px;
  width: 90px;
  height: 3px;
  background-color: #007cee;
}

/*Overlay edit contact Right Side*/

.overlayAddContactRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 759px;
  height: 594px;
  gap: 32px;
  border-radius: 30px;
}

.addContactInputFieldClose {
  width: 32px;
  height: 32px;
  margin-left: 679px;
  margin-top: -220px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.overlayAddContactRightSideInputBadge {
  display: flex;
}
.overlayAddContactRightSideBadge {
  width: 120px;
  height: 120px;
  margin-top: 150px;
  margin-left: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayAddContactRightSideBadge h1 {
  font-size: 47px;
  font-weight: 500;
  color: white;
}

.overlayAddContactRightSideInputFields {
  display: flex;
  align-items: center;
  width: 759px;
  height: 215px;
  gap: 92px;
  margin-top: 24px;
}

.addContactInputField {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 229px;
  height: 594px;
  justify-content: center;
  align-items: flex-start;
}

.addContactInputFieldName {
  display: flex;
  width: 422px;
  height: 50px;
  gap: 32px;
  padding: 13px 21px 13px 21px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  width: 380px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.addContactInputFieldNameImage {
  display: flex;
  height: 50px;
  gap: 10px;
  justify-content: end;
}

.addContactInputFieldNameImage img {
  width: 24px;
  height: 24px;
}

.overlayAddContactRightButton {
  display: flex;
  width: 249px;
  height: 57px;
  gap: 25px;
  margin-top: 17px;
}
button {
  width: 113px;
  border: 1px solid #2a3647;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  gap: 10px;
}

.cancel {
  background-color: rgba(255, 255, 255, 1);

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  width: max-content;
  cursor: pointer;
}

.save:hover {
  background-color: #29abe2;
}
.cancel:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  img {
    color: #29abe2;
  }
}

/*Overlay edit contact Main*/

.contactsMainOverlayEditContact {
  display: flex;
  justify-content: flex-start;
  width: 1212px;
  align-items: center;
  height: 592px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 24px;
  margin-top: 24px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 30%;
  left: 20%;
}

/*Overlay edit contact Left Side*/

.overlayEditContactLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(42, 54, 71, 1);
  width: 453px;
  height: 594px;
  padding: 66px 46px 66px 46px;
  gap: 12px;
  border-radius: 30px 0 0 30px;

  h3 {
    margin: 0;
    color: white;
    font-size: 27px;
    font-weight: 400;
  }
}

.overlayEditContactLeftSide img {
  width: 53.93px;
  height: 66.48px;
}

.overlayEditContactLeftSide p {
  display: flex;
  width: 371px;
  height: 72px;
  gap: 16px;
  font-size: 61px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.underline {
  border: 3px;
  width: 90px;
  height: 3px;
  background-color: #007cee;
}

/*Overlay edit contact Right Side*/

.overlayEditContactRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 759px;
  height: 594px;
  gap: 32px;
}

.editContactInputFieldClose {
  width: 32px;
  height: 32px;
  margin-left: 679px;
  margin-top: -220px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.overlayEditContactRightSideInputBadge {
  display: flex;
}
.overlayEditContactRightSideBadge {
  width: 120px;
  height: 120px;
  margin-top: 150px;
  border: 3px;
  border-radius: 70px;
  margin-left: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 199, 0, 1);

  h1 {
    width: 120px;
    height: 120px;

    border: 3px;
    border-radius: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.overlayEditContactRightSideBadge h1 {
  font-size: 47px;
  font-weight: 500;
  color: white;
}

.overlayEditContactRightSideInputFields {
  display: flex;
  align-items: center;
  width: 759px;
  height: 215px;
  gap: 92px;
  margin-top: 24px;
}

.editContactInputField {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 229px;
  height: 594px;
  justify-content: center;
  align-items: flex-start;
}

.editContactInputFieldName {
  display: flex;
  width: 422px;
  height: 50px;
  gap: 32px;
  padding: 13px 21px 13px 21px;
  border: 1px solid #007cee;
  border-radius: 10px;
}

input {
  border: none;
  outline: none;
  width: 380px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
}
.editContactInputFieldNameImage {
  display: flex;
  height: 50px;
  gap: 10px;
  justify-content: end;
}

.editContactInputFieldNameImage img {
  width: 24px;
  height: 24px;
}

.overlayEditContactRightButton {
  display: flex;
  width: 249px;
  height: 57px;
  gap: 25px;
  margin-top: 17px;
}
button {
  width: 113px;
  border: 1px solid #2a3647;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  gap: 10px;
}

.delete {
  background-color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 400;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  font-size: 21px;
  font-weight: 700;
  width: max-content;

  h1 {
    font-size: 21px;
    width: max-content;
  }
}

.save:hover {
  background-color: #29abe2;
}
.delete:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
}

@media (max-width: 1350px) {
  .outerContent {
    padding: 0;
  }

  .contactsHeader {
    scale: 85%;
    margin-left: 0;
    width: 550px;

    h1 {
      font-size: 50px;
    }

    h4 {
      font-size: 22px;
    }
  }

  .contactListsContainer {
    width: 400px;
  }

  .contentCardHeader {
    scale: 90%;
    margin-left: -18px;
  }
}

@media (max-width: 1250px) {
  .outerContent {
    padding: 0;
  }

  .contactsHeader {
    scale: 85%;
    margin-left: 0;
    width: 550px;

    h1 {
      font-size: 50px;
    }

    h4 {
      font-size: 22px;
    }
  }

  .contactListsContainer {
    width: 300px;
  }

  .contentCardHeader {
    scale: 90%;
    margin-left: -18px;
  }

  .contactsMain button {
    width: 230px;
  }

  .contactListsNameHead {
    width: 280px;
    gap: 20px;
  }

  .contactGroup {
    width: 85%;

    h2 {
      padding-left: 15px;
    }
  }

  .contactUnderline {
    width: 90%;
  }

  .contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    width: 1212px;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: 6%;
    scale: 65%;
  }
}

.mobileAddBtn {
  width: 56px;
  height: 56px;
  border-radius: 46px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 320px;
}

.mobileAddBtn img {
  width: 32px;
  height: 32px;
  color: white;
}

.mobileAddBtn {
  display: none;
}

/* mobile add contact popup */

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  width: 396px;
  height: 760px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-header {
  background-color: #2e3a47;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  font-size: 24px;
  height: 351px;
}

.popup-header .close-button {
  position: relative;
  top: -119px;
  right: -168px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nameBadgeAddContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 70%;
  background-color: #f0ad4e;
  color: #ffffff;
  font-size: 32px;
  margin: -63px auto 24px;
  border: 4px solid #ffffff;
}

.form-group {
  margin-bottom: 16px;
  padding: 0 24px;
}

.input-container {
  position: relative;
}

.input-container img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.input-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding: 0 24px;
  gap: 20px;
}

.form-actions button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions .delete {
  background-color: white;
  color: black;
  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 10px;
}

.form-actions .save {
  background-color: rgba(42, 54, 71, 1);
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selectedContact {
  .contactListsNameHead {
    background-color: var(--mainDarkColor);
  }

  .contactListsNameHead:hover {
    background-color: var(--mainDarkColor);
  }

  .contactListsName h1 {
    color: white;
  }
}

/* responsive */

@media (max-width: 1120px) {
  .contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: 0%;
    scale: 55%;
    width: 1212px;
  }

  .contactListsContainer {
    width: 300px;
  }

  .outerContent {
    padding: 0;
  }

  .contactCardMain {
    margin-left: 0;
  }
  .contactsHeader {
    scale: 80%;
    margin-left: 0;
    width: 427px;

    h1 {
      font-size: 45px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .contentCardHeader {
    scale: 75%;
    margin-left: -13px;
  }

  .contactsMain button {
    width: 225px;
  }

  .contactListsNameHead {
    width: 250px;
    padding-left: 0;
    gap: 16px;
  }

  .contactGroup {
    width: 85%;
  }

  .contactUnderline {
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: -5%;
    scale: 55%;
    width: 1212px;
  }

  .contactListsContainer {
    width: 285px;
  }

  .outerContent {
    padding: 0;
  }

  .contactCardMain {
    width: 400px;
    margin-left: 0;
  }
  .contactsHeader {
    scale: 100%;
    margin-left: 38px;
    width: 410px;

    h1 {
      font-size: 35px;
    }

    h4 {
      font-size: 16px;
    }
  }

  .contactListsContainer {
    width: 250px;
    overflow-x: hidden;
  }

  .contentCardHeader {
    scale: 75%;
    margin-left: -13px;
  }

  .contactListsNameHead {
    width: 235px;
    gap: 18px;
    padding-left: 0;
  }

  .contactGroup {
    width: 80%;
  }

  .contactLists {
    margin-top: 30px;
  }

  .contactUnderline {
    width: 90%;
  }

  .contentCardBody {
    gap: 34px;
  }

  .cardHeaderLogo {
    width: 95px;
    height: 95px;
  }

  .cardHeaderNameDetails {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 965px) {
  .contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: -9%;
    scale: 50%;
    width: 1212px;
  }

  .contactsHeader {
    scale: 100%;
    margin-left: -41px;
    width: 410px;
    padding-left: 50px;
  }

  .contactListsContainer {
    width: 250px;
  }

  .contactListsNameBadge {
    width: 45px;
    height: 45px;
  }

  .contactListsNameHead {
    gap: 8px;
    width: 200px;
  }

  .contactListsName {
    h1 {
      font-size: 16px;
    }

    h3 {
      font-size: 12px;
    }
  }

  .contactsMain button {
    width: 225px;
    z-index: 99;
  }

  .contactGroup {
    width: 80%;
    margin-top: 18px;
  }
}

@media (max-width: 875px) {
  .contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: -15%;
    scale: 43%;
    width: 1212px;
  }

  .contactLists {
    margin-top: 30px;
    width: 100%;
  }

  .contactsMain {
    width: 100%;
    display: block;
  }

  .contactListsContainer {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 1rem;
    height: auto;
  }

  .contactsContent {
    /* display: none; */
    box-shadow: none;
  }

  .contactGroup {
    h2 {
      display: flex;
      font-size: 20px;
      font-weight: 400;
      padding-left: 35px;
    }
  }

  .contactListsNameHead {
    width: 100%;
    padding-left: 110px;
  }
}

@media (max-width: 800px) {
  .contactsMainOverlayAddContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid;
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 15%;
    left: 8%;
    scale: 48%;
    width: 396px;
  }

  .overlayAddContactLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(42, 54, 71, 1);
    width: 396px;
    height: 352px;
    padding: 66px 46px 66px 46px;
    gap: 12px;
    border-radius: 30px 30px 0 0;

    img {
      display: none;
    }

    h3 {
      font-size: 20px;
    }
  }

  .overlayAddContactLeftSide p {
    font-size: 47px;
  }

  .overlayAddContactRightSideInputFields {
    flex-direction: column;
    gap: 0;
  }

  .addContactInputField {
    margin-top: 0;
  }

  .overlayAddContactRightSideBadge {
    margin-top: 0;
    margin-left: 0;
  }

  .contactListsContainer {
    margin-bottom: 1rem;
  }

  .contactLists {
    padding-left: 2.5rem;
  }
}

@media (max-width: 500px) {
  .contactListsContainer {
    height: 83vh;
  }
  .contactLists {
    padding-left: 0;
    width: 107%;
    margin-bottom: 0;
  }

  .contactListSide {
    margin-bottom: 4rem;
  }

  .contactGroup {
    h2 {
      margin-top: 5px;
      padding-left: 60px;
    }
  }
}

@media (max-width: 400px) {
  .mobileAddBtn {
    width: 56px;
    height: 56px;
    border-radius: 46px;
    background-color: #2a3647;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    position: absolute;
    top: 89%;
  }

  .mobileAddBtn img {
    width: 32px;
    height: 32px;
    color: white;
  }

  .contactListsContainer {
    height: 85vh;
  }

  .contactLists {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .contactListSide {
    margin-bottom: 4rem;
  }

  .contactListSide button {
    display: none;
  }
}

@media (max-width: 350px) {
  .contactLists {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .contactListSide {
    margin-bottom: 4rem;
  }

  .contactListsNameHead {
    padding-left: 75px;
  }

  .contactGroup {
    h2 {
      padding-left: 30px;
    }
  }
}

@media (max-width: 320px) {
  .contactListsNameHead {
    scale: 102%;
    padding-left: 55px;
  }

  .contactLists {
    width: 106%;
    margin-bottom: 0;
  }

  .contactUnderline {
    width: 106%;
  }

  .contactListSide {
    margin-bottom: 4rem;
  }
}
