/* Main Div*/
.contactsMain{
    display: flex;
    

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 352px;
        height: 56px;
        background-color: #2a3647;
        color: white;
        border: 1px solid;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        gap: 16px;

        img {
            width: 32px;
            height: 32px;
        }
    }
}

.contactsMain button:hover {
    background-color: #29ABE2;
}
/* Contact List  Div (Leftside)*/

.contactListSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 5px white, 0px -10px 5px white;
}

.contactUnderline {
    display: flex;
    width: 352px;
    border: 1px solid rgba(209 , 209, 209, 1);
    gap:10px;
}

.contactListsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 456px;
    height: 928px;
    top: 96px;
    left: 232px;
    background-color: rgba(255, 255, 255, 1);
}

.contactLists {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 54px;
    border-style: none;
}

/* .contactLists:hover {
    background-color: #f6f7f8;
} */

.contactListsNameHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 352px;
    height: 78px;
    gap: 35px;
    padding-left: 16px;
    background-color: white;
    border-radius: 10px;
    color: white;
    
}

.contactListsNameBadge {
    width: 42px;
    height: 42px;
    background-color: #FF7A00;
    border: 3px solid white;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

        h1 {
            font-size: 12px;
            font-weight: 400;
            color: white;
        }
}

.contactListsName {
    width: 140px;
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 5px;

        h1 {
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            width: max-content;
            color: black;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            color: #007CEE;
            margin: 0;
        }
}

/* Contact Contant Div (Rightside)*/

.contactsContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f6f7f8;
    width: 100%;
    height: 100vh;
    box-shadow: -2px 1px 4px 0.5px #aaaaaa
}

.contactsHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 569px;
    height: 73px;
    margin-top: 100px;
    margin-left: 43px;
    gap: 24px;

    h1 {
        font-size: 61px;
        font-weight: 700;
        color: #000000;
    }

    h4 {
        font-weight: 400;
        font-size: 27px;
    }
}

.seperateLine {
    height: 50px;
    width: 2px;
    color: #29ABE2;
    background-color: #29ABE2;
    border: 1px solid;
    
}

/*Contact Card*/

.contactCardMain {
    width: 461px;
    height: 364px;
    margin-top: 32px;
    margin-left: 43px;
    gap: 21px;

}

.contentCardHeader {
    display: flex;
    width: 461px;
    height: 120px;
    gap: 54px;
}

.cardHeaderLogo {
    width: 120px;
    height: 120px;
    background-color: #FF7A00;
    border: 3px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
        h1 {
            font-size: 47px;
            font-weight: 500;
            color: white;
        }
}

.cardHeaderNameDetails {
    width: 287px;
    height: 88px;
    margin: 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    

    h1 {
        font-size: 47px;
        font-weight: 500;
        margin: 8px;
        width: max-content;
    }
}

.cardHeaderNameEditDelete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 159px;
    height: 24px;
    gap: 13px;

    img {
        width: 18px;
        height: 18px;
    }
}

.cardHeaderNameEdit,
.cardHeaderNameDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
} 

.contactCardInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    width: 207px;
    height: 74px;

        h4 {
            font-size: 20px;
            font-weight: 400;
        }
}

.contactCardDetails {
    width: 140px;
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.cardDetailEmailMain {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cardDetailEmailHead {
    font-size: 16px;
    font-weight: 700;
}

.cardDetailEmailName {
    font-size: 16px;
    font-weight: 400;
    color: #007CEE;
}

.CardDetailPhoneMain {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.CardDetailPhoneHead {
    font-size: 16px;
    font-weight: 700;
}

.CardDetailPhoneNumber {
    font-size: 16px;
    font-weight: 400;
}



/*------Overlay edit contact Main------*/

.d-none {
    display: none;
}

.contactsMainOverlayAddContact {
    display: flex;
    justify-content: flex-start;
    width: 1212px;
    align-items: center;
    height: 592px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-left: 24px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
}

/*Overlay edit contact Left Side*/



.overlayAddContactLeftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(42, 54, 71,1);
    width: 453px;
    height: 594px;
    padding: 66px 46px 66px 46px;
    gap: 12px;
    border-radius: 30px 0 0 30px;

        h3 {
            margin: 0;
            color: white;
            font-size: 27px;
            font-weight: 400;width: max-content;
        }
}

.overlayAddContactLeftSide img {
    width: 53.93px;
    height: 66.48px;
}

.overlayAddContactLeftSide p {
    display: flex;
    width: 371px;
    height: 72px;
    gap: 16px;
    font-size: 61px;
    font-weight: 700;
    color: white;  
    margin: 0;   
}

.underline {
    border: 3px;
    width: 90px;
    height: 3px;
    background-color: #007CEE;
}



/*Overlay edit contact Right Side*/

.overlayAddContactRightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 759px;
    height: 594px;
    gap: 32px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
}

.addContactInputFieldClose {
    width: 32px;
    height: 32px;
    margin-left: 679px;
    margin-top: -220px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.overlayAddContactRightSideInputBadge {
    display: flex;
   
}
.overlayAddContactRightSideBadge {
    width: 120px;
    height: 120px;
    margin-top: 150px;
    margin-left: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayAddContactRightSideBadge h1 {
    font-size: 47px;
    font-weight: 500;
    color: white;
}

.overlayAddContactRightSideInputFields {
    display: flex;
    align-items: center;
    width: 759px;
    height: 215px;
    gap: 92px;
    margin-top: 24px;    
}

.addContactInputField {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 229px;
    height: 594px;
    justify-content: center;
    align-items: flex-start;
}

.addContactInputFieldName {
    display: flex;
    width: 422px;
    height: 50px;
    gap: 32px;
    padding: 13px 21px 13px 21px;
    border: 1px solid #007CEE;
    border-radius: 10px;
}

input {
    border: none;
    outline: none;
    width: 380px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;

}
.addContactInputFieldNameImage {
    display: flex;
    height: 50px;
    gap: 10px;
    justify-content: end;
}

.addContactInputFieldNameImage img {
    width: 24px;
    height: 24px;
}

.overlayAddContactRightButton {
    display: flex;
    width: 249px;
    height: 57px;
    gap: 25px;
    margin-top: 17px;
}
button {
    width: 113px;
    border: 1px solid #2a3647;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    gap: 10px;
}

.delete{
    background-color: rgba(255, 255, 255, 1);
    font-size: 21px;
    font-weight: 400;
}

.save {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.save:hover {
    background-color: #29ABE2;
}
.delete:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;;
}

