header {
  height: 6rem;
  font-size: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}

header h2 {
  margin-left: 64px;
}

.header {
  justify-content: space-between;
  padding: 0 3rem 0 1rem;
}

.headerLogoContainer img {
  width: 49px;
  height: 60px;
}

.infoBox {
  gap: 1rem;
  padding: 1rem;
}

.helpIcon {
  transition: all 0.2s ease-in-out;
}

.helpIcon:hover {
  scale: 1.2;
}

.userLogo {
  color: var(--customBlue);
  border: 3px solid var(--mainDarkColor);
  padding: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.userLogo:hover {
  background-color: rgba(12, 46, 98, 0.12);
}

.header-popup-curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.2); */
  z-index: 50;
}

.header-user-menu {
  position: absolute;
  top: 6rem;
  right: 2rem;
  padding: 0.8rem;
  border-radius: 20px;
  border-top-right-radius: 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.header-user-menu a {
  padding: 1rem 0.5rem;
  color: #cdcdcd;
}

.header-user-menu a:hover {
  background-color: #2a3d59;
}

@media (max-width: 1000px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  h2 {
    display: none;
  }

  .header {
    padding: 0 1rem 0 1rem;
  }

  .header-user-menu {
    right: 0.5rem;
  }

  .helpIcon {
    display: none;
  }
}

@media (min-width: 800px) {
  .headerLogoContainer {
    display: none;
  }

  .help-mobile {
    display: none;
  }
}
