.outerContent {
  padding: 4rem;
}

.helpContent span {
  color: var(--customBlue);
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol li {
  counter-increment: my-awesome-counter;
  gap: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

ol h3 {
  margin-bottom: 0.5rem;
}

ol p {
  margin: 0;
}

.goBackBtn {
    position: fixed;
    top: 9rem;
    right: 4rem;
}