.sidebar {
    /* width: 232px; */
    flex: 1;
}
.logoContainer {
    padding: 64px;
}

.sidebar .logo {
    width: 100;
    height: 122px;
    object-fit: contain;
}

.sidebar-inner {
    min-width: 100px;
    min-height: 200px;
    flex: 1;
    justify-content: space-between;
}

.sidebar nav {
    gap: 15px;
    font-size: 19px;
}

.legalContainer {
    padding: 64px;
    gap: 15px;
}