@font-face {
  font-family: "inter";
  src: url(../fonts/Inter/Inter-VariableFont.ttf);
}

* {
  box-sizing: border-box;
  font-family: inter, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --customBlue: #29abe2;
  --mainDarkColor: #2a3647;
  --errorColor: #ff8190;
}

body {
  margin: 0;
  color: black;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
}

.whiteBackground {
  background-color: white;
}

.mainDarkBlue {
  background-color: #2a3647;
  color: white;
}

.greyBackground {
  background-color: #f6f7f8;
  position: sticky;
  top: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.width100 {
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

.outerContainer {
  flex: 1;
}

.leftContainer {
  background-color: var(--mainDarkColor);
  width: 248px;
  min-width: 248px;
  height: 100vh;
  overflow: auto;
}

.rightContainer {
  height: 100vh;
  overflow: auto;
  flex: 1;
}

.footerContainer {
  background-color: var(--mainDarkColor);
  height: 80px;
  position: fixed;
  bottom: 0;
}

.outerContent {
  flex: 1;
}

.errorDesign {
  border: 1px solid var(--errorColor) !important;
}

.errorMessage {
  font-size: 12px;
  color: var(--errorColor, "red");
  position: absolute;
  top: 5rem;
}

.d-none {
  display: none !important;
}

@media (max-width: 800px) {
  .leftContainer {
    display: none;
  }
}

@media (min-width: 800px) {
  .footerContainer {
    display: none;
  }
}
