* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
}

.whiteBackground {
    background-color: white;
}
.mainDarkBlue {
    background-color: #2a3647;
    color: white;
}

.greyBackground {
    background-color: lightgray;
}