* {
    box-sizing: border-box;
}

:root {
    --mainDarkColor: #2A3647;
}

body {
    margin: 0;
    color: black;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 16px;
    
}

.whiteBackground {
    background-color: white;
}

.mainDarkBlue {
    background-color: #2a3647;
    color: white;
}

.greyBackground {
    background-color: #f6f7f8;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width100 {
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

.leftContainer {
    background-color: green;
}

.rightContainer {
    flex: 1;
}

.outerContent {
    flex: 1;
}