.outerContent {
  padding-left: 4rem;
  padding-top: 4rem;
  /* align-items: flex-start; */
  /* justify-content: center; */
}

.summaryContent {
  max-width: 1100px;
  padding-bottom: 2rem;
}

.innerContent {
  flex: 1;
}

.summaryHeader {
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.summaryHeader h1 {
    font-size: 4rem;
    margin: 1rem 0;
  }

.separator {
  height: 100%;
  border-left: 3px solid var(--customBlue);
  height: 59px;
  border-radius: 10px;
}

.summaryHeader span {
  font-size: 2rem;
}

.leftColumn,
.rightColumn {
  padding: 2rem;
}

.leftColumn {
  gap: 1rem;
  width: 55%;
  min-width: 460px;
}

.rightColumn {
    width: 45%;
}

.upperRow,
.middleRow,
.lowerRow {
  justify-content: space-between;
  gap: 1rem;
  color: var(--mainDarkColor);
}

.taskElement {
  flex: 1;
  gap: 1rem;
  height: 140px;
  background: white;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.taskElement:hover {
  cursor: pointer;
  background-color: var(--mainDarkColor);
  color: white;
  scale: 1.05;
}

.taskElement:hover .counter {
  color: white;
}

.taskElement .counter {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.highlightedTask {
  gap: 2rem;
}

.highlightedTask .separator {
  height: 100px;
  border-left: 2px solid #d1d1d1;
}

.urgentDetails {
  gap: 1rem;
}

.urgentDate {
  font-size: 1.2rem;
  font-weight: bold;
}

.lowerRow > div {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#welcomeMessage {
  font-size: 3rem;
  color: var(--mainDarkColor);
}

#welcomeName {
  color: var(--customBlue);
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .outerContent {
    padding: 0;
  }
}
