<h1>Add Task</h1>
<div class="innerContent flex-col width100">
  <form action="" onsubmit="event.preventDefault()" class="width100">
    <div class="flex-center formContent width100">
      <div class="leftColumn flex-col">
        <div class="inputElement flex-col">
          <label for="inputTitle">Title<span class="redFont">*</span></label>
          <input type="text" id="inputTitle" class="formInput" required placeholder="Enter a title" />
        </div>
        <div class="inputElement flex-col">
          <label for="inputDescription">Description</label>
          <textarea name="" id="inputDescription" class="formInput" placeholder="Enter a description"></textarea>
        </div>
        <div class="inputElement flex-col inputDropDown">
          <label for="inputAssigned">Assigned to</label>
          <div class="inputDropdownContainer width100 flex-start" id="inputAssignedContainer">
            <input
              type="text"
              id="inputAssigned"
              onclick="toggleDropdownMenu('inputAssignedContainer')"
              class="formInput width100"
              value="Select contacts to assign"
              placeholder="Select contacts to assign"
              readonly
            />
            <img
              src="../img/arrow_dropdown_down.svg"
              onclick="toggleDropdownMenu('inputAssignedContainer')"
              class="button dropdownIcon"
              alt="open dropdown-menu"
            />
            <img
              src="../img/arrow_dropdown_up.svg"
              onclick="toggleDropdownMenu('inputAssignedContainer')"
              class="button dropdownIcon d-none"
              alt="close dropdown-menu"
            />
          </div>
          <div class="dropdownContent dropdownAssigned flex-col width100 d-none" id="dropdownAssigned">
            <div class="dropdownElement flex-start">
              <div class="userBadge flex-center" style="background-color: blue">AM</div>
              <span>Contact1</span>
              <img
                src="../img/check_button.svg"
                onclick="toggleCheckContact()"
                class="button checkContactButton"
                alt="check this contact"
              />
              <img
                src="../img/check_button_done.svg"
                onclick="toggleCheckContact()"
                class="button checkContactButton d-none"
                alt="check this contact"
              />
            </div>
            <div class="dropdownElement">Contact2</div>
            <div class="dropdownElement">Contact3</div>
          </div>
          <div class="assignedBadgesContainer flex-start" id="assignedBadgesContainer"></div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="rightColumn flex-col">
        <div class="inputElement flex-col">
          <label>Due date<span class="redFont">*</span> </label>
          <input type="date" name="" id="inputDueDate" required class="formInput" placeholder="dd/mm/yyyy" />
        </div>
        <div class="inputElement flex-col">
          <label>Prio</label>
          <div class="prioContainer flex-center width100">
            <button onclick="setPrio('btnHigh')" class="button addTaskPopupBtn prioButton flex-center" id="btnHigh">
              Urgent<img src="../img/prioHigh.png" alt="" />
            </button>
            <button onclick="setPrio('btnMedium')" class="button addTaskPopupBtn prioButton flex-center prioSelected" id="btnMedium">
              Medium<img src="../img/prioMediumWhite.png" alt="" />
            </button>
            <button onclick="setPrio('btnLow')" class="button addTaskPopupBtn prioButton flex-center" id="btnLow">
              Low<img src="../img/prioLow.png" alt="" />
            </button>
          </div>
        </div>
        <div class="inputElement flex-col">
          <label for="inputCategory">Category<span class="redFont">*</span> </label>
          <div class="inputDropdownContainer width100 flex-start" id="inputCategoryContainer">
            <input
              type="text"
              id="inputCategory"
              onclick="toggleDropdownMenu('inputCategoryContainer')"
              class="formInput width100"
              value="Select task category"
              placeholder="Select task category"
              readonly
            />
            <img
              src="../img/arrow_dropdown_down.svg"
              onclick="toggleDropdownMenu('inputCategoryContainer')"
              class="button dropdownIcon"
              alt="open dropdown-menu"
            />
            <img
              src="../img/arrow_dropdown_up.svg"
              onclick="toggleDropdownMenu('inputCategoryContainer')"
              class="button dropdownIcon d-none"
              alt="close dropdown-menu"
            />
          </div>
          <div class="dropdownContent dropdownCategory flex-col width100 d-none" id="dropdownCategories">
            <div class="dropdownCategoryElement dropdownElement">Category1</div>
            <div class="dropdownCategoryElement dropdownElement">Category2</div>
            <div class="dropdownCategoryElement dropdownElement">Category3</div>
          </div>
        </div>
        <div class="inputElement flex-col">
          <label>Subtasks</label>
          <div class="inputDropdownContainer width100 flex-start" id="inputSubtasksContainer">
            <input
              type="text"
              onkeyup="openAddSubtask()"
              id="inputSubtasks"
              class="formInput width100"
              placeholder="Add a new subtask"
            />
            <img
              src="../img/addDarkIcon.svg"
              class="button dropdownIcon subtasksIcon"
              alt="open dropdown-menu"
              onclick="openAddSubtask()"
              ;
              id="addSubtask"
            />
            <div class="flex-start editSubtasksContainer d-none" id="editSubtasksContainer">
              <img src="../img/close.svg" class="button" alt="remove subtask" onclick="closeAddSubtask()" />
              <div class="separatorSubtasks"></div>
              <img src="../img/checkDarkIcon.svg" onclick="addNewSubtask()" class="button" alt="confirm subtask" />
            </div>
          </div>
          <div>
            <ul id="subtaskList" class="subtaskList">
              <li>
                <div style="background: white">
                  <span contenteditable="true">Testhallo</span>
                  <div class="flex-center" id="editSubtaski">
                    <img src="../img/editIcon.svg" class="button" alt="edit subtask" title="edit subtask" />
                    <div class="separatorSubtasks"></div>
                    <img src="../img/deleteIcon.svg" class="button" title="delete Subtask" alt="delete Subtask" />
                  </div>
                </div>
              </li>
              <li>Testhallo2</li>
              <li>Testhallo3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="lowerContainer flex-center width100">
      <span><span class="redFont">*</span> this field is required</span>
      <div class="buttonContainer flex-center">
        <button class="button addTaskPopupBtn flex-center" onclick="resetFormInputs()">
          Clear
          <img src="../img/close.svg" alt="" />
        </button>
        <button onclick="addNewTask()" class="button addTaskPopupBtn darkColored flex-center">
          Create Task
          <img src="../img/checkIcon.svg" />
        </button>
      </div>
    </div>
  </form>
</div>
