<h1>Add Task</h1>
<div class="innerContent flex-col width100">
  <form action="" onsubmit="event.preventDefault()" class="width100">
    <div class="flex-center formContent width100">
      <div class="leftColumn flex-col">
        <div class="inputElement flex-col">
          <label for="inputTitle">Title<span class="redFont">*</span></label>
          <input type="text" id="inputTitle" class="formInput" required placeholder="Enter a title" />
        </div>
        <div class="inputElement flex-col">
          <label for="inputDescription">Description</label>
          <textarea name="" id="inputDescription" class="formInput" placeholder="Enter a description"></textarea>
        </div>
        <div class="inputElement flex-col inputDropDown">
          <label for="inputAssigned">Assigned to</label>
          <div class="inputDropdownContainer width100 flex-start" id="inputAssignedContainer">
            <input
              type="text"
              id="inputAssigned"
              class="formInput width100"
              value="Select contacts to assign"
              placeholder="Select contacts to assign"
            />
            <img
              src="../img/arrow_dropdown_down.svg"
              onclick="toggleDropdownMenu('inputAssignedContainer')"
              class="button dropdownIcon"
              alt="open dropdown-menu"
            />
            <img
              src="../img/arrow_dropdown_up.svg"
              onclick="toggleDropdownMenu('inputAssignedContainer')"
              class="button dropdownIcon d-none"
              alt="close dropdown-menu"
            />
          </div>
        </div>
      </div>

      <div class="separator"></div>

      <div class="rightColumn flex-col">
        <div class="inputElement flex-col">
          <label>Due date<span class="redFont">*</span> </label>
          <input type="date" name="" id="inputDueDate" required class="formInput" placeholder="dd/mm/yyyy" />
        </div>
        <div class="inputElement flex-col">
          <label>Prio</label>
          <div class="prioContainer flex-center width100">
            <button onclick="setPrio('btnUrgent')" class="button prioButton flex-center" id="btnUrgent">
              Urgent<img src="../img/prioUrgent.png" alt="" />
            </button>
            <button onclick="setPrio('btnMedium')" class="button prioButton flex-center prioSelected" id="btnMedium">
              Medium<img src="../img/prioMediumWhite.png" alt="" />
            </button>
            <button onclick="setPrio('btnLow')" class="button prioButton flex-center" id="btnLow">
              Low<img src="../img/prioLow.png" alt="" />
            </button>
          </div>
        </div>
        <div class="inputElement flex-col">
          <label for="inputCategory">Category<span class="redFont">*</span> </label>
          <div class="inputDropdownContainer width100 flex-start" id="inputCategoryContainer">
            <input
              type="text"
              id="inputCategory"
              required
              class="formInput width100"
              value="Select task category"
              placeholder="Select task category"
            />
            <img
              src="../img/arrow_dropdown_down.svg"
              onclick="toggleDropdownMenu('inputCategoryContainer')"
              class="button dropdownIcon"
              alt="open dropdown-menu"
            />
            <img
              src="../img/arrow_dropdown_up.svg"
              onclick="toggleDropdownMenu('inputCategoryContainer')"
              class="button dropdownIcon d-none"
              alt="close dropdown-menu"
            />
          </div>
          <div class="dropdownContent dropdownCategory flex-col width100 d-none" id="dropdownCategories">
            <div class="dropdownCategoryElement dropdownElement">Category1</div>
            <div class="dropdownCategoryElement dropdownElement">Category2</div>
            <div class="dropdownCategoryElement dropdownElement">Category3</div>

          </div>
        </div>
        <div class="inputElement flex-col">
          <label>Subtasks</label>
          <div class="inputDropdownContainer width100 flex-start" id="inputSubtasksContainer">
            <input type="text" id="inputSubtasks" class="formInput width100" placeholder="Add a new subtask" />
            <img
              src="../img/addDarkIcon.svg"
              class="button dropdownIcon subtasksIcon"
              alt="open dropdown-menu"
              onclick="openAddSubtask()";
              id="addSubtask"
            />
            <div class="flex-start editSubtasksContainer d-none" id="editSubtasksContainer">
              <img src="../img/close.svg" class="button" alt="remove subtask" onclick="closeAddSubtask()" />
              <div class="separatorSubtasks"></div>
              <img
                src="../img/checkDarkIcon.svg"
                class="button"
                alt="confirm subtask"

              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lowerContainer flex-center width100">
      <span><span class="redFont">*</span> this field is required</span>
      <div class="buttonContainer flex-center">
        <button class="button flex-center" onclick="resetFormInputs()">
          Clear
          <img src="../img/close.svg" alt="" />
        </button>
        <button onclick="addNewTask()" class="button darkColored flex-center">
          Create Task
          <img src="../img/checkIcon.svg" alt="" />
        </button>
      </div>
    </div>
  </form>
</div>
