<div class="sidebar-inner mainDarkBlue flex-col">
  <div class="logoContainer">
    <img src="./img/joinLogo_dark.png" class="logo" alt="join logo" />
  </div>

  <nav class="flex-col flex-center navSidebar width100" id="menuSidebar">
    <a href="./summary.html">
      <img src="./img/summaryIcon.png" class="icon" alt="" />
      Summary
    </a>
    <a href="./addTask.html">
      <img src="./img/addTaskIcon.png" class="icon" alt="" />
      Add Task
    </a>
    <a href="./board.html">
      <img src="./img/boardIcon.png" class="icon" alt="" />
      Board
    </a>
    <a href="./contacts.html">
      <img src="./img/contactsIcon.png" class="icon" alt="" />
      Contacts
    </a>
  </nav>

  <nav class="flex-col flex-center navFooter width100">
    <a href="./summary.html">
      <img src="./img/summaryIcon.png" class="icon" alt="" />
      Summary
    </a>
    <a href="./board.html">
      <img src="./img/boardIcon.png" class="icon" alt="" />
      Board
    </a>
    <a href="./addTask.html">
      <img src="./img/addTaskIcon.png" class="icon" alt="" />
      Add Tasks
    </a>
    <a href="./contacts.html">
      <img src="./img/contactsIcon.png" class="icon" alt="" />
      Contacts
    </a>
  </nav>

  <div class="legalContainer flex-col flex-center navSidebar width100">
    <a href="./privacy.html">Privacy policy</a>
    <a href="./legal.html">Legal notice</a>
  </div>
</div>
