<div class="sidebar-inner mainDarkBlue flex-col">
  <div class="logoContainer">
    <img src="./img/joinLogo_dark.png" class="logo" alt="join logo" />
  </div>
  <nav class="flex-col flex-center">
    <a href="./summary.html">Summary</a>
    <a href="./addTask.html">Add task</a>
    <a href="./board.html">Board</a>
    <a href="./contacts.html">Contacts</a>
  </nav>
  <div class="legalContainer flex-col flex-center">
    <a href="./privacy.html">Privacy policy</a>
    <a href="./legal.html">Legal</a>
  </div>
</div>
